<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>
</div>

<div><span th:text="${username}"></span></div>
<div><span th:text="${password}"></span></div>
<div><span th:text="${authorities}"></span></div>

</body>
</html>